*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

div {
    margin-left: 550px;
}

header {
    display: none;
    justify-content: flex-end;
    margin-right: 100px;
}

section {
    margin-left: 500px;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 300px;
    margin-right: 500px;

}

footer h3 {
    padding: 20px;
}

#start_btn {
    background-color: darkblue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    max-width: 250px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 600px;
}